.add-expense {
    width: 50%;
    margin: auto;
}

@media only screen and (max-width: 1024p) {
    .add-expense {
        width: 90%;
    }
}

@media only screen and (max-width: 512p) {
    .add-expense {
        width: 100%;
    }
}